<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('partials/head'); %>
  <script type="text/javascript">
    window.onload = function () {
      L.mapquest.key = 'no67vdmWGqmpc0pUGnldI2P8sstFaexa';

      var map = L.mapquest.map('map', {
        center: [20.913903, -100.744012],
        layers: L.mapquest.tileLayer('map'),
        zoom: 12
      });

      map.addControl(L.mapquest.control());
    }
  </script>
</head>

<body>
  <%- include('partials/navbar'); %>

  <div class="jumbotron">
    <h1 class="display-4">Bienvenido a NodeJS & Express</h1>
    <p class="lead">Este es un ejemplo basico</p>
    <hr class="my-4">
    <p>Mi primer sitio basico con Express</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    <div id="contenido">
      <div id="map" style="width: 100%; height: 530px;"></div>
    </div>
    <img src="/images/imagen2.jpg" width="500" height="400" />
  </div>
  <%- include('partials/script'); %>
  <foote>
    <%- include('partials/footer'); %>
  </foote>

</body>

</html>